<html>
    <head>

    </head>
    <body>
        <h1>{{ title }}</h1>
        <ul>
            {{#each list}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </body>
</html>